/* goggle font import */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

/* Variable CSS */
:root {
  /* colors */
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #fff;

  /* font and typography */
  --body-font: "Lato", sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: 0.938rem;

  /* z-index */
  --z-modal: 1000;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 1.75rem;
    --normal-font-size: 1rem;
  }
}

/* BASE */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
  /* user-select: none; */
}

button {
  cursor: pointer;
  border: none;
  overflow: none;
}

img {
  max-width: 100%;
  height: auto;
}
